<div class="nav">
  <mat-grid-list cols="3" rowHeight="500px">
    <mat-grid-tile>
      <button
        class="button-fill"
        mat-raised-button
        color="primary"
        routerLink="/organizer"
      >
        New Session
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="org-id">
        <h1>Enter Organizer's Session ID:</h1>
        <form class="example-form inline">
          <mat-form-field appearance="outline" class="example-full-width">
            <input type="text" [(ngModel)]="route" name="id" matInput />
          </mat-form-field>
        </form>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        class="button-fill"
        mat-raised-button
        color="primary"
        (click)="joinSession()"
      >
        Join Session
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
